form.login-form(action='/admin/login' layout='column' method='post')
	label(for='login') Login:
	input(type='text' id='login' name='login')
	label(for='password') Password:
	input(type='password' id='password' name='password')
	button(type='submit') Confirm