
doctype html
html
  head
    base(href='/')
    meta(charset='utf-8')
    title Events
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // build:css({.tmp,src}) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../../angular-material/angular-material.css')
    // endbower
    // endbuild
    // build:css({.tmp,src}) styles/app.css
    link(rel='stylesheet', href='app/app.css')
    // endbuild
  body(ng-app='app', md-theme='docs-dark')
    .container
      menu(flex='100')
      ui-view
      footer(flex='100')
    script(src='../../angular/angular.js')
    script(src='../../angular-ui-router/release/angular-ui-router.js')
    script(src='../../angular-animate/angular-animate.js')
    script(src='../../angular-aria/angular-aria.js')
    script(src='../../angular-messages/angular-messages.js')
    script(src='../../angular-material/angular-material.js')
    script(src='../../spin.js/spin.js')
    script(src='../../angular-route/angular-route.js')
    // endbower
    // endbuild
    // build:js({.tmp,src}) scripts/app.js
    // inject:js
    script(src='app/common/service/navigation.service.js')
    script(src='app/app.js')
    script(src='app/common/service/category.service.js')
    script(src='app/common/dialogService/dialog.service.js')
    script(src='app/subcategory/subcategory.controller.js')
    script(src='app/subcategory/subcategory.component.js')
    script(src='app/menu/menu.controller.js')
    script(src='app/menu/menu.component.js')
    script(src='app/home/home.service.js')
    script(src='app/home/home.controller.js')
    script(src='app/home/home.component.js')
    script(src='app/footer/footer.controller.js')
    script(src='app/footer/footer.component.js')
    script(src='app/event/event.service.js')
    script(src='app/event/event.controller.js')
    script(src='app/event/event.component.js')
    script(src='app/categories/categories.controller.js')
    script(src='app/categories/categories.component.js')
    script(src='app/routes.js')
    script(src='app/app.config.js')
    // endinject
    // endbuild
  // build:js({.tmp,src}) scripts/vendor.js
  // bower:js