.menu(layout='row' layout-align='space-between center')
	.logo(ng-click='vm.goTo("home")')
		img.logo-img(src='/app/common/img/events_logo.png')
	.search.hide-sm.hide-xs(flex='50' layout='row')
		md-input-container.input-container
			label Search
			input(ng-model='vm.searchText')
		md-button(ng-click='vm.search()') Search
	md-nav-bar.hide-sm.hide-xs(flex='100' layout='row' layout-align="center end")
		md-nav-item(aria-label='' flex='100' md-nav-click='vm.goTo("categories")') Browse
		md-nav-item(aria-label='' flex='100' md-nav-click='vm.goTo("picker")') Picker
		md-nav-item(aria-label='' flex='100' md-nav-click='vm.goTo("about")') About Us
		md-nav-item(aria-label='' flex='100' md-nav-click='vm.goTo("contact")') Contact Us
	md-menu.hide.show-sm.show-xs.mobile-menu
		md-button(aria-label='Open menu' class='md-icon-button' ng-click='vm.openMenu($mdOpenMenu, $event)')
			i.material-icons menu
		md-menu-content(width='2')
			md-menu-item
				.search
					input(ng-model='vm.searchText')
					md-button.search-button(ng-click='vm.search()')
						i.material-icons search
			md-menu-item
				md-button(aria-label='' flex='100' ng-click='vm.goTo("home")') Home
			md-menu-item
				md-button(aria-label='' flex='100' ng-click='vm.goTo("categories")') Browse
			md-menu-item
				md-button(aria-label='' flex='100' ng-click='vm.goTo("picker")') Picker
			md-menu-item
				md-button(aria-label='' flex='100' ng-click='vm.goTo("about")') About Us
			md-menu-item
				md-button(aria-label='' flex='100' ng-click='vm.goTo("contact")') Contact Us