.categories-body(layout='row')
	.categories(flex='100')
		h2.home-header Categories
		md-card.category.list-item(ng-repeat='category in vm.categories')
			md-card-header 
				md-card-header-text
					span.md-title {{category.title | uppercase}}
			img.md-card-image(ng-src='{{category.image}}')
			md-card-title
			md-card-icon-actions
				md-button.md-icon-button(aria-label='toggle' ng-click='vm.showSubcategories(category._id)')
					i.material-icons keyboard_arrow_down
			md-content(ng-show='vm[category._id]').subcategories-list
				md-card-content
					md-list
						md-list-item.subcategory(ng-repeat='subcategory in category.subcategories' ng-click='vm.viewEvents(subcategory._id)')
							img(ng-src='{{subcategory.image}}')
							h3 {{subcategory.title | uppercase}}
							md-divider