.categories-body(layout='row')
	.categories(flex='45')
		h2.home-header Categories
		.category.list-item(ng-repeat='category in vm.categories' ng-click='vm.showSubcategories(category.subcategories)')
			span.title() {{category.title}}
			img(ng-src='{{category.image}}')
	.subcategories(flex='45' flex-offset='10')
		h2.home-header Subcategories
		span.subcategory-hint(ng-hide='vm.subcategories') Select a category to view
		.subcategory.list-item( ng-repeat='subcategory in vm.subcategories' ng-click='vm.viewEvents(subcategory._id)')
			span.title {{subcategory.title}}
			img(ng-src='{{subcategory.image}}')