.container {
  padding: 10px;
  background-image: url('app/common/bg.jpg');
  md-input-container.input-container {
  	margin-bottom: 0;
  }
  menu{
    padding-left: 0;
    margin-bottom: 20px;
  }
  .menu {
	.logo-img {
		padding-top: 12px;
	}
    background-color: lightblue;

    md-input-container {
    	margin: 0;
    }
    i {
	    line-height: 1.5;
    }
    .mobile-menu{
    	button {
    		padding-top: 0;
    		padding-bottom: 0;
    	}
    }
    .search {
    	.search-button {
		    height: 35px;
	    	min-height: 0;
	    }
	    input {
	    	width: 30vw;
	    }
	}
  }
    .list-item {
      height: 100px;
      position: relative;
      display: inline-block;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    .top-list-item, .closest-list-item {
      max-width: 22%;
      margin: 10px;

    }
  .home-body {
    .top, .closest {
      height: auto;
      margin-bottom: 20px;
    }
  }
}
