.container {
  padding: 10px;
  md-input-container.input-container {
  	margin-bottom: 0;
  }
  menu{
    padding-left: 0;
    margin-bottom: 20px;
  }
  .menu {
	.logo-img {
		padding-top: 12px;
	}
    background-color: lightblue;
    
    md-input-container {
    	margin: 0;
    }
    i {
	    line-height: 1.5;
    }
    .mobile-menu{
    	button {
    		padding-top: 0;
    		padding-bottom: 0;
    	}
    }
    .search {
    	.search-button {
		    height: 35px;
	    	min-height: 0;
	    }
	    input {
	    	width: 30vw;
	    }
	}
  }
}