.container {
  min-height: 100vh;
  padding: 10px 10px 0 10px;
  background-image: url('common/img/bg.jpg');
  background-size: cover;
  md-input-container.input-container {
  	margin-bottom: 0;
  }
  menu{
    padding-left: 0;
    margin-bottom: 20px;
  }
  .home {
    margin-bottom: 20px;
  }
  .categories-body{
    margin-bottom: 20px;
    min-height: 50vh;
  }
  .event-body {
    margin-bottom: 20px;
    min-height: 50vh;
  }
  .menu {
	.logo-img {
		padding-top: 12px;
	}

    border-radius: 10px;
    background: linear-gradient(gold, silver);

    md-input-container {
    	margin: 0;
    }
    i {
	    line-height: 1.5;
    }
    .mobile-menu{
    	button {
    		padding-top: 0;
    		padding-bottom: 0;
    	}
    }
    .search {
    	.search-button {
		    height: 35px;
	    	min-height: 0;
	    }
	    input {
	    	width: 30vw;
	    }
	}
  }
.list-item {
    height: 100px;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      text-align: center;
      color: gold;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    img {
      height: 100%;
      width: 100%;
      border-radius: 15px;
    }
  }
  .subcategories {
    position: relative;
  }
  .top-list-item, .closest-list-item, .category, .subcategory, .event {
    cursor: pointer;
    max-width: 22%;
    margin: 10px;
    transition:all 0.3s ease;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .top, .closest, .latest, .categories, .subcategories {
    height: auto;
    border: 5px solid #111;
    border-bottom-right-radius: 15px;
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.9);
  }
  .top {
    margin-bottom: 20px;
  }
  .latest-list-item {
    cursor: pointer;
    transition:all 0.3s ease;
    padding: 3px;
    &:hover {
      transform: translateX(-10px);
    }
  }
  .home-header {
    text-align: center;
    font-family: monospace;
    color: gold;
  }
  .subcategory-hint {
    position: absolute;
    text-align: center;
    color: gold;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .subcategory-body {
    margin-bottom: 20px;
    min-height: 50vh;
    .event {
      height: 150px;
      .event-info {
        display: none;
        .event-info-title {
          top: 7%;
        }
        .event-place {
          top: 20%;
        }
        .free-seats {
          top: 90%;
        }
      }
    }
    .event:hover {
      border: 5px solid #111;
      border-bottom-right-radius: 15px;
      border-radius: 25px;
      background-color: rgba(0,0,0, 0.9);
      img, .event-title {
        visibility: hidden;
      }
      .event-info {
          display: block;
        }
    }
  }
  footer {
    background-color: rgba(0,0,0, 0.9);
    * {
      color: goldenrod;
    }
    .copy {
      text-align: center;
      margin-bottom: 0;
    }
  }
}
