header.header
  p.header-title
    a(href='https://github.com/FountainJS/generator-fountain-webapp' target='_blank')
      | Fountain Generator
  p.header-date
    | Generated with FountainJS v0.7.0 on Tue Aug 23 2016 09:42:17 GMT+0300 (FLE Daylight Time)
