.title
  h1.title-h1 &apos;Allo, &apos;Allo!
  div
    img.title-logo(src='http://fountainjs.io/assets/imgs/yeoman.png')
    img.title-logo(src='http://fountainjs.io/assets/imgs/fountain.png')
  h2.title-h2 Always a pleasure scaffolding your apps.
