md-nav-bar.hide-xs(flex='100' layout='row')
	md-nav-item(aria-label='' flex='100' md-nav-click='vm.goTo("categories")') Categories
	md-nav-item(aria-label='' flex='100' md-nav-click='vm.goToEvents("events", 0)') Events
	md-nav-item(flex-offset='90' md-nav-click='vm.logout()') Log Out