menu(layout='row')
.categories(layout='column' layout-gt-sm='row')
	md-content.categories-list(flex-offset-gt-sm='5' flex='100' flex-gt-sm='40')
		h1 Categories:
		md-list
			md-list-item(ng-click='vm.selectCategory(category, $event)' ng-repeat='category in vm.categories')
				i.material-icons.md-secondary(ng-click='vm.removeCategory(category)') close
				p  {{ category.title }}
				i.material-icons.md-secondary(ng-click='vm.editCategory(category, $event)') mode_edit
				i.material-icons.md-secondary(ng-click='vm.addSubcategory(category, $event)') add
				md-divider
			md-list-item(ng-click="vm.addCategory({}, $event)")
				i.material-icons add
	md-content.subcategories-list(flex-offset-gt-sm='10' flex='100' flex-gt-sm='40')
		h1 Subcategories:
		md-list
			md-list-item(ng-click='vm.selectSubcategory()' ng-repeat='subcategory in vm.subcategories')
				i.material-icons.md-secondary(ng-click='vm.removeSubcategory(subcategory)') close
				p  {{ subcategory.title }}
				i.material-icons.md-secondary(ng-click='vm.editSubcategory(subcategory, $event)') mode_edit
				md-divider
